.HTMain {
    position: relative;
    text-align: center;
    height: 1000px;
}
.section1{
    position: relative;
}
.mainbg {
    position: relative;
    width: 100%;
    left : 0%;
}

.m_bln{
    position: absolute;
    left: 40%;
    width: 5%;
}  
.m_bee{
    position: absolute;
    overflow: hidden;
    top: 7%;
    left: 40%;
    width: 282px;
    height: 187px;
}

.m_bee img{
    position: absolute;
}